h1 {
  color: DarkBlue ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: 900;
  font-style: oblique;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background-color: hsla(200, 100%, 10%,0.02);
}
/*	#C3DB89
	#FFFDFD*/

.selector {
	width:100%;
	height:100%;
}


#wrapperHeader{
	background-color: hsla(57, 100%, 57%, 1);
	width:100%;
	height: 100%;
	margin:0px;
	padding: 20px;
}
#header {
	width:100%;
	height: 100%;
	
}

#footer{
	background-color: hsla(30, 96%, 52%, 1.0);
	width: 100%;
	height: 100%;
	margin:0px;
	position: relative;
	display: inline-table;
	padding-top: 30px;
	padding-bottom: 30px;
	color:white;
	font-weight: bold;

}

#footer a:hover{
	color:yellow;
}

#arriba{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#cuerpo{
	overflow: hidden;
}

@media only screen and (max-width: 750px) {
	.inmueble {
		padding: 0px;
		
		
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		
		margin-bottom: 30px;
		width: 300px;
		height: 400px;
		font-weight: bold;

	}

	#left {
	    position: inline;
	    padding: 10px;

	}

	#cuerpo {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}


	#footer {
		position: relative;
		width:100%;
		padding-top:50px;


	}

	.hijoFooter{
		width:100%;
		display: block;
		position: inline;
	}


	.subFooterIzquierdo{
		width: 100%;
	}



	#footer p {
	  text-align:center; 
	  vertical-align: middle;
	  
	}
	.card{
		background-color: hsla(228, 80%, 10%, 1);
		padding: 5px;
		
	}

}


@media only screen and (min-width: 750px) {
	.inmueble {

		float:left;

		padding-left: 15px;
		height: 400px;

		margin-bottom: 30px;
		

		background-color:none; 
		color: DarkSlateGray;
		font-weight: bold;

	}
	.card{
		background-color: hsla(228, 43%, 13%, 0.8);
		color: LightBlue;
		padding: 5px;
		
	}

	.grid_de_inmuebles{
		
	}

	.card:hover{
		background-color: hsla(228, 43%, 13%, 0.1);
		color: DarkSlateGray;
		
	}
	.container{
		opacity: 0.5;
	}
	.container:hover{
		opacity: 1;
	}

	#left {
	    position: fixed;
	    float:left;
	    padding:5px;
	    margin-left: 10px;

	}

	#cuerpo{
		height: auto;
		position: relative;
		margin-left: 290px;
	}

	#grid_de_inmuebles{
		overflow-y: scroll;
	}


	#spacer {
		position: relative;
		clear:both;
	}

	#footer {
		
		position: fixed;
		width:100%;
		height: 10%;
		top:94%;
		left: 0%;
		padding-left:25%;
		padding-top: 10px;
		transition: 0.5s ease;

	}

	.hijoFooter{
		position: relative;
		width: 45%;
		float:left;
	}

	#subFooterIzquierdo{
		width:100%;
		height:10%;

	}

	#footer:hover{
		top:82%;
	}
	

	#subFooterDerecho{
		width:100%;
		height:10%;


	}

	#arriba{
		position: relative;
		width: 100%;
		height: 100%;
		
	}

}


#left {

	/* Add shadows to create the "card" effect */
	background-color:hsla(228, 43%, 13%, 0.1);

}

/* On mouse-over, add a deeper shadow */
#left:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carta{
	transition: 0.2s ease;
}
.carta:hover {
	box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.card {
	position:relative;
	
}

a:hover,a:focus{
	text-decoration: none !important;
}

#nav a i.material-icons{
	vertical-align: middle;
	margin-right: 2px;
}

#nav{
	padding-right: 120px;
	padding-left: 100px;
	height: 80px;
}

#nav .sub-nav a{
	margin-right: 20px;
}

#filtros form p {
	margin-bottom: 0px;
}

.icon-inmueble{
	font-size: 16px !important;
}

#spinner{
	position: relative;
	margin-left: 45%;
	margin-top: 15%;
}

