h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}


#header {
	width:100%;
	height:10%;
}

#cuerpo {
	width:100%;
	height:80%;
}

#footer {
	width:100%;
	height:10%;
	display: flex;
	flex-direction: row;
}

.hijoFooter{
	flex-grow: 1;
}

#subFooterIzquierdo{
	width:100%;
	height:10%;
	display: flex;
	flex-direction: column;
}

.subFooterIzquierdo{
	flex-grow: 1;
}

#subFooterDerecho{
	width:100%;
	height:10%;
	display: flex;
	flex-direction: column;
}

.subFooterDerecho{
	flex-grow: 1;
}

#grid_de_inmuebles {
	width:100%;
	height:10%;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
}

.inmueble {
	flex-grow: 1;
	flex-basis: 30%;

	background: gray;
	padding: 0px;
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 10px;

	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}