

<div id="left" class="w3-container w3-padding w3-margin-top w3-card-2" style="background-color: #f1f1f1;">
	<h6 style="text-align:center"> <b>Filtros de busqueda</b></h6>
	<div class="w3-container">
		<form>          
	      <p><label><i class="fa fa-calendar-o"></i> Antiguedad Maxima</label></p>
	      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut">         
	      <p><label><i class="fa fa-bath"></i> Baños</label></p>
	      <input class="w3-input w3-border" type="number" value="1" name="banyos" min="1" max="6">              
	      <p><label><i class="fa fa-bed"></i> Habitaciones</label></p>
	      <input class="w3-input w3-border" type="number" value="0" name="habs" min="0" max="6">
	      <p><label><i class="fa fa-car"></i> Estacionamientos</label></p>
	      <input class="w3-input w3-border" type="number" value="0">
	      <p><label><i class="fa fa-usd"></i> Precio Maximo</label></p>
	      <input class="w3-input w3-border" type="text">
	      
	      <p><button class="w3-button w3-block w3-green w3-left-align w3-margin-top" type="submit"><i class="fa fa-search w3-margin-right"></i> Actualizar</button></p>
	    </form>
	</div>	
</div>