

<div id="left" class="w3-container w3-padding w3-margin-top w3-card-2" style="background-color: #f1f1f1;">
	<h5 style="text-align:center;height: 35px;background-color: #7EFF00;padding-top: 9px;"> <b>Filtros de búsqueda</b></h5>
	<div class="w3-container">
		
		<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">   
			
			<p>
				<label for="searchOperations">	
					Operación
				</label>
			</p>
			<select id="searchOperations" class="w3-select" name="operacion" formControlName="operacion">
		        <option value="Venta">Venta</option>
		        <option value="Alquiler">Alquiler</option>
		        <option value="AlquilerVacacional">Alquiler Vacacional</option>
			</select>

			<p>
				<label for="searchCategories">
					Inmueble
				</label>
			</p>
			<select id="searchCategories" class="w3-select" name="tipo_inmueble" formControlName="tipoDeInmueble">
				<option value="Apartamento">Apartamentos</option>
				<option value="Casa">Casas</option>
				<option value="Townhouse">Townhouses</option>
				<option value="Local">Locales</option>
				<option value="Terreno">Terrenos</option>
				<option value="Quinta">Quinta</option>
				<option value="Oficina">Oficinas</option>
				<option value="Galpón">Galpones</option>
				<option value="Informal">Informal</option>
				<option value="Negocio">Negocios</option>
				<option value="Edificio">Edificios</option>
				<option value="Hacienda">Haciendas - Fincas</option>
				<option value="AcciónClub">Acción de Club</option>
				<option value="Hotel">Hoteles y Resorts</option>
				<option value="Parcela">Parcelas de Cementerio</option>
				<option value="Anexo">Anexos</option>
			</select>

			<p>
				<label for="antiguedadMax">
					<i class="fa fa-calendar-o"></i> Años de Antiguedad
				</label>
			</p>
			<input id="antiguedadMax" class="w3-input w3-border" type="text" placeholder="YYYY" name="CheckOut" formControlName="antiguedadMax">         
			<p>
				<label for="numBanyos"><i class="fa fa-bath"></i> 
					Baños
				</label>
			</p>
			<input id="numBanyos" class="w3-input w3-border" type="number" value="1" name="banyos" min="1" max="6" formControlName="numeroBanyos"> 

			<p>
				<label for="numHabs">
					<i class="fa fa-bed"></i> Habitaciones
				</label>
			</p>
			<input id="numHabs" class="w3-input w3-border" type="number" value="0" name="habs" min="0" max="6" formControlName="numeroHabitaciones">

			<p>
				<label for="numEstac">
					<i class="fa fa-car"></i> Estacionamientos
				</label>
			</p>
			<input id="numEstac" class="w3-input w3-border" type="number" value="0" name="estacs" formControlName="numeroEstacionamientos">

			<p>
				<label for="precio">
					<i class="fa fa-usd"></i> Precio Máximo
				</label>
			</p>
			<input id="precio" class="w3-input w3-border" type="text" formControlName="precioMax">

	      <p>
	      	<button class="w3-button w3-block w3-green w3-left-align w3-margin-top" type="submit">
	      		<i class="fa fa-search w3-margin-right"></i> Actualizar búsqueda
	      	</button>
	      </p>
	    </form>
	</div>	
</div>