<div id="footer">
	<div class="hijoFooter">
		<div id="subFooterIzquierdo">
			<div class="subFooterIzquierdo">
				<a href="#">Términos del Servicio</a>
			</div>
			<div class="subFooterIzquierdo">
				<a href="#">Privacidad</a>
			</div>
			<div class="subFooterIzquierdo">    
				<a href="#">Securidad</a>
			</div>
		</div>
	</div>
	<div class="hijoFooter">
		<div id="subFooterDerecho">
			<div class="subFooterDerecho">    
				<p class="muted pull-right">© 2017 Nombre de la Compañía. RIF </p>
			</div>
			<div class="subFooterDerecho">    
				<p class="muted pull-right">Desarrollado por XXXXX </p>
			</div>
			<div class="subFooterDerecho">    
				<p class="muted pull-right">Fecha </p>
			</div>
		</div>
	</div>
</div>