<div id="footer" >
	<div class="hijoFooter">
		<div id="subFooterIzquierdo">
			
				<p><a href="#">Términos del Servicio</a></p>
			
			
				<p><a href="#">Privacidad</a></p>
			
			
				<p><a href="#">Securidad</a></p>
			
		</div>
	</div>
	<div class="hijoFooter">
		<div id="subFooterDerecho">
   
				<p class="muted ">Inversiones CertConf © 2017</p>

				<p class="muted ">RIF: xxxxxxxxxxxx</p>

				<p class="muted ">Desarrollado por Joel Rivas y Georvic Tur </p>

    
		</div>
	</div>
</div>