<div id="footer">
	<div class="hijoFooter">
		<div id="subFooterIzquierdo">
			<div class="subFooterIzquierdo">
				<a href="#">Términos del Servicio</a>
			</div>
			<div class="subFooterIzquierdo">
				<a href="#">Privacidad</a>
			</div>
			<div class="subFooterIzquierdo">    
				<a href="#">Securidad</a>
			</div>
		</div>
	</div>
	<div class="hijoFooter">
		<div id="subFooterDerecho">
			<div class="subFooterDerecho">    
				<p class="muted ">© 2017 Nombre de la Compañía. RIF </p>
			</div>
			<div class="subFooterDerecho">    
				<p class="muted ">Desarrollado por XXXXX </p>
			</div>
			<div class="subFooterDerecho">    
				<p class="muted ">Fecha </p>
			</div>
		</div>
	</div>
</div>