<html>
  <head>
    <title>Inmuebles</title>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    
    <!-- 1. Load libraries -->
  {% include 'stylesheets.html' %}
  {% include 'scripts.html' %}

  </head>
  <!-- 3. Display the application -->
  <body>

  {% include "menuDeNavegacion.html" %}

  <div id="arriba">
    <div class="">
      {% include "filtros.html" %}
     </div>

    <div id="cuerpo" class="w3-margin-top">

      {% verbatim %}

        <my-app class="selector"><div id="spinner"><i style="margin-top:30px;margin-left:auto;margin-right:auto;" class="fa fa-spinner fa-pulse fa-3x"></i></div></my-app>

      {% endverbatim %}

    </div>

  </div>
  
  <div id="spacer"></div>
    {% include 'footer.html' %}

  </body>
</html>