<html>
  <head>
    <title>Inmuebles</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- 1. Load libraries -->
  {% include 'stylesheets.html' %}
  {% include 'scripts.html' %}

  </head>
  <!-- 3. Display the application -->
  <body>

  {% include "menuDeNavegacion.html" %}
  <div id="left">Filtros</div>
  <div id="cuerpo">

    {% verbatim %}

      <my-app class="selector">Buscando inmuebles...</my-app>

    {% endverbatim %}

  </div>

  {% include 'footer.html' %}

  </body>
</html>