
<div id="nav" class="w3-container w3-border-bottom">
  <div class="w3-row">
    <div class="w3-col s6">
      <img src="static/img/logo-nav.jpeg" height="80px">
    </div>
    <div class="w3-col s6">
      <div class="w3-col s12" style="text-align:right;margin-top: 10px;padding-right: 20px;">
            <a href="#" target="_blank" class="btn"><span class="fa fa-twitter"></span></a>
            <a href="#" target="_blank" class="btn"><span class="fa fa-facebook"></span></a>
            <a href="#" target="_blank" class="btn"><span class="fa fa-google-plus"></span></a>
            <a href="#" target="_blank" class="btn"><span class="fa fa-instagram"></span></a>
            <a href="#" target="_blank" class="btn"><span class="fa fa-tumblr-square"></span></a>
      </div>
      <div class="w3-col s12 sub-nav" style="margin-top: 10px;">
        <a href="#" class="w3-bar-item w3-right"><i class="material-icons">headset_mic</i>CONTACTO</a>
        <a href="#" class="w3-bar-item w3-right"><i class="material-icons">face</i>QUIÉNES SOMOS</a>
        <a href="#" class="w3-bar-item w3-right"><i class="material-icons">home</i> INICIO</a>
      </div>
    </div>
  </div>
</div>

