

{% verbatim %}

<div class="w3-card-2">
  <div class="w3-container" style="text-align:center">
    <img src="{{ inmuebleActual.urlImagenPrincipal }}" alt="Avatar" height="150px">
  </div>
  <hr>
  <div class="w3-container">
    

    <table class="w3-table w3-centered">
    <tr>
      <th><i class="fa fa-fw fa-bath"></i>{{ inmuebleActual.numeroBanyos }} baños</th>
      <th><i class="fa fa-fw fa-bed"></i> {{ inmuebleActual.numeroHabitaciones }} hab.</th>
    </tr>
    <tr>
      <th><i class="material-icons" style="vertical-align: middle;">terrain</i>{{ inmuebleActual.areaConstruccion }} m<sup>2</sup></th>
      <th><i class="fa fa-fw fa-car"></i> {{inmuebleActual.numeroEstacionamientos}} Est.</th>
    </tr>
    </table>

    <table class="w3-table w3-centered">
    <tr>
     <th><b>{{ inmuebleActual.tipoInmueble }}</b></th>
      <th> <p>{{ inmuebleActual.estado }} - {{ inmuebleActual.municipio }}</p> </th>
    </tr>
    </table>
    <table class="w3-table w3-centered">
    <tr>
      <th><b class="w3-centered"> {{ inmuebleActual.tipoDeOperacion }} </b></th>
      <th><b class="w3-centered"> Bs. {{ inmuebleActual.precio }} </b></th>
    </tr>
    </table>

  </div>
</div>

{% endverbatim %}